@page
@model MyCourses.Pages.Assignments.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Assignment</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Assignment.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Assignment.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Assignment.Course)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Assignment.Course.CourseId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Assignment.Start)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Assignment.Start)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Assignment.Due)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Assignment.Due)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Assignment.AssignmentId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
