@page
@model MyCourses.Pages.Assignments.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Assignment[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assignment[0].Course)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assignment[0].Start)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assignment[0].Due)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Assignment) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @item.Course.Code
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Start)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Due)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.AssignmentId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.AssignmentId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.AssignmentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
